body{
    background-color: #ada284;
} 
h1{
   font-family: Typewriter, serif;
}
img{
    width: 100%;
    height: auto;
}
    
nav {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%
}
