body{
    background-color: #ada284;
} 
h1{
    font-family: 'Old typewriter', sans-serif;
}
h2{
    font-family: 'Type Keys', sans-serif;
    font-family: 'Type Keys Filled', sans-serif;
                                                
}

.navbar{
    font-family: 'Type Keys', sans-serif;
    font-family: 'Type Keys Filled', sans-serif;
    font-size: 35px;
    color: black
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 12;
  overflow: hidden;
  background-color: #242b17;
}

li {
  float: left;
}

li {
  border-right: 50px solid #242b17;
  border-left: 50px solid #242b17;
}

li:last-child {
  border-right: none;
}

h3{                                                                   
    font-family: 'Century Schoolbook', sans-serif;
}
img{
    width: 100%;
    height: auto;
}

.bottomnav {
    font-family: 'Type Keys', sans-serif;
    font-family: 'Type Keys Filled', sans-serif;
    font-size: 35px;
    color: black 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 12;
    overflow: hidden;
    background-color: #242b17;
  }
  
  li {
    float: left;
  }
  
  li {
    border-right: 50px solid #242b17;
    border-left: 50px solid #242b17;
  }
  
  li:last-child {
    border-right: none;
  }

   
    

